{% extends 'base.twig' %}

{% block title %}
  {{ item.name }}
{% endblock %}

{% block content %}
  <h1>{{ item.name }}</h1>
  <p>{{ item.description }}</p>
  <img src="/assets/items/{{ item.image }}" alt="{{ item.name }}" />
  <p>Price: {{ item.price }}</p>
{% endblock %}