{% extends 'base.twig' %}

{% block title %}
  {{ item.name }}
{% endblock %}

{% block content %}
    <div class="text-center w-[50%] border border-success-subtle p-4">
        <h1 class="title ms-2">{{ item.name }}</h1>
        <p class="ms-3">{{ item.description }}</p>
        <img class="" src="/assets/items/{{ item.image }}" alt="{{ item.name }}" />
        <p>Price: {{ item.price }}</p>
    <div>
{% endblock %}